* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-image: url("background1080_2.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
